# Math / array backbone
numpy==1.26.4

# Astronomy / astro tools
astropy==5.3.4
astroquery==0.4.7

# Swiss Ephemeris
pyswisseph==2.10.3.2

# Date + timezone handling
python-dateutil==2.9.0.post0
pytz==2024.1
